<h1>Rainforest</h1>
<%= link_to "New Product", new_product_path, id: "new_product", remote: true %>


<%= form_tag products_path, method: :get, authentication: false, remote: true, id: 'search_for' do%>
	<%=text_field_tag :search, params[:search] %>
	<%= submit_tag 'Search' %>
<% end %>

<div class="row">
  <div id="products" class="col-sm-6">
    <%= render @products %>
  </div>
</div>
<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>