<h1>Rainforest</h1>
<%= link_to "New Product", new_product_path, id: "new_product", remote: true %>


<%= form_tag products_path, method: :get, authentication: false, id: 'search_for' do%>
	<%=text_field_tag :search, params[:search] %>
	<%= submit_tag 'Search' %>
<% end %>

<%= render @product %>

