<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <%= render 'layouts/messages' %>
      </div>
    </div>

    <body>  
      <div id="wrap">
       <% if flash[:notice] %>
         <p id="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
         <p id="alert"><%= flash[:alert] %></p>
        <% end %>

        <%= yield %>
      </div>

      <p class="userinfo">
        <% if current_user %>
          Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
        <% else %>
          <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
      </p>

  </div> 
    
  </body>
</html>
